* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
}

#slider {
    position: relative;
    height: 700px;
    border: 4px solid black;
    border-radius: 24px;
    overflow: hidden;
}

#slider .slide {
    position: relative;
    height: 100%;
    width: calc(100% - 120px);
}

#slider .slide:not(.active) {
    display: none;
}

#slider .slide .details {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 16px;
    padding-bottom: 34px;
    text-align: right;
}

.details .title {
    margin-bottom: 6px;
    color: brown;
}

.details .text {
    color: black;
}

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slider #arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 94%;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 12px;
    color: white;
    font-size: 1.0em;
    text-shadow: 2px 4px 4px black;
}

#slider #arrows > * {
    transform: scale(1.4);
    transition: transform 0.4s ease;
}

#slider #arrows > *:hover {
    cursor: pointer;
    transform: scale(1.4);
}

#thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
}

.thumbnail {
    width: 100px;
    height: auto;
    margin: 0 12px;
    cursor: pointer;
    filter: brightness(0.8);
}

.thumbnail:hover {
    filter: brightness(1);
}